@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* reset */
*{margin: 0;padding: 0;}
ul, ol{list-style-type: none;}
a{text-decoration: none; color: inherit;}
img{display: block;}
body{font-family: 'Noto Sans KR', sans-serif;}

/* common */
body {cursor: url('../../img/ui/cursor-normal.png') 6 6, auto; overflow: hidden; color: #666666; scroll-behavior: smooth; opacity: 0; animation: ani-loadPage 2s forwards;}

@keyframes ani-loadPage {
  0%{opacity: 0;}
  100% {opacity: 100;}
}



body{font-size: 16px;}

.inner {max-width: 1660px; margin: 0 auto;}
/* body * {outline: 1px dotted red;} */
#wrap{height: 100vh; background-color: #eeeeec; display: flex; flex-direction: column; justify-content: space-between;}







.inner:has(#header) {height: 80px; display: flex; justify-content: center; z-index: 30; position: relative;}
/* .inner:has(#header) .logo{ position: absolute; top: 50%; transform: translate(0,-50%); left: 0;} */

.gnb a {display: block;}

#header{display: flex; justify-content: center; gap: 200px; align-items: center;}
#header .gnb{ display: flex; align-items: center;}
#header .gnb>ul{display: flex; justify-content: center; gap: 200px; overflow: hidden;}
#header .gnb>ul>li{display: flex; align-items: center; }
#header .gnb>ul>li:nth-of-type(2) a{border-bottom: 3px solid #666666; font-size: 28px;}
#header .gnb>ul>li>a{padding: 10px 0; font-size: 20px; color: #666666; font-weight: 400; transition: .2s; }



#contents-slide {width: 100%; margin-bottom: 40px;}
#contents-slide .inner{position: relative;}
#contents-slide .inner ul{display: flex; gap: 0 320px; position: relative; left: 0; transition: .3s;}
#contents-slide .inner ul li{position: relative; overflow: hidden; transition: .5s; width: 320px;}
#contents-slide .inner ul li .work{ display: block; width: 320px; height: 540px; filter: grayscale(100); transition: .5s;}
#contents-slide .inner ul img{ object-fit: cover; object-position: center; height: 100%; position: absolute; width: 100%;}
#contents-slide .inner ul .description{ height: 100%; position: absolute; width: 100%; background-color: rgba(0, 0, 0, .7);right: -100%; transition: 1s; box-sizing: border-box; padding: 40px; color: white; gap: 1rem; display: flex; flex-direction: column; align-items: center; transition: .5s;}
#contents-slide .inner ul .description a{ color: orange;}

#contents-slide .inner ul .description>h4{ text-align: center; font-size: 1.4rem; flex: 1;}
#contents-slide .inner ul .description>.source-wrap{ flex: 2; overflow-y: auto; width: 100%; background-color: rgba(0,0,0,.5); box-sizing: border-box; padding: 1rem; border-radius: 20px;}
#contents-slide .inner ul .description>.source-wrap::-webkit-scrollbar{background-color: rgba(0, 0, 0, 0); width: 10px;}
#contents-slide .inner ul .description>.source-wrap::-webkit-scrollbar-thumb{background-color: rgba(247, 247, 247,.8); border-radius: 6px;}
#contents-slide .inner ul .description .source{ display: flex; flex-direction: column;align-items: center; margin-top: .8rem;}
#contents-slide .inner ul .description .source:first-of-type{ margin-top: 0;}
#contents-slide .inner ul .description .source>span::after{content: " :";}
#contents-slide .inner ul .description>p{padding: 0 1.5rem; overflow-y: auto; flex: 4; scrollbar-width: 4px; scrollbar-width: thin; background-color: rgba(0,0,0,.5); box-sizing: border-box; padding: 1rem; border-radius: 20px; width: 100%;}
#contents-slide .inner ul .description>p::-webkit-scrollbar{background-color: rgba(0, 0, 0, 0); width: 10px;}
#contents-slide .inner ul .description>p::-webkit-scrollbar-thumb{background-color: rgba(247, 247, 247,.8); border-radius: 6px;}
#contents-slide .inner ul .description>a{display: inline;}

#contents-slide .inner ul .description>.fold--btn{background-position: center; background-repeat: no-repeat; background-size: contain; background-image: url(../../img/ui/arrow-down.png); display: none; width: 40px; height: 40px;}




#slide-area .inner { display: flex; justify-content: center; align-items: center; padding: 40px 0;}
#slide-area .inner .slide-bg {width: 820px; height: 4px; background-color: #aaa; position: relative;}
#slide-area .inner .slide-bg .slider{ position: absolute; left: 0; top: 0; height: 100%; background-color: black; width: 0%; transition: .3s;}



@media screen and (max-width:1659px) {
  #wrap{height: unset !important; width: 100%; box-sizing: border-box;}
  .inner {width: 100%;}
  /* .inner:has(#header) .logo{display: none;} */
  .inner:has(#header) {background-color: white; position: fixed; top: 0; left: 0;}

  #header .gnb>ul{gap: 150px; width: 100%;}

  #contents-slide {margin-top: 100px;}
  #contents-slide .inner ul{flex-wrap: wrap; overflow: unset; justify-content: space-evenly; gap: 40px 20px; width: 100%;}
  #contents-slide .inner ul li{text-align: center;}
  #contents-slide .inner ul .work { filter: grayscale(0) !important; width: 100% !important; transition: .3s;}
  #contents-slide .inner ul img{ height: 540px; width: 100%;}
  #contents-slide .inner ul .description{right: 0;background-color: rgba(0, 0, 0, .3); padding: 10px; height: 20%;}
  #contents-slide .inner ul .description p{ display: none; }
  #contents-slide .inner ul .description .source-wrap { display: none; }

  #contents-slide .inner ul .description.show{ height: 100%; }
  #contents-slide .inner ul .description.show>.source-wrap{ display: block;}
  #contents-slide .inner ul .description.show>p{ display: block;}
  #contents-slide .inner ul .description .fold--btn{ display: block;}
  #contents-slide .inner ul .description.show .fold--btn{ background-image: url(../../img/ui/arrow-up.png);}
  

  #slide-area{display: none;}

  body{overflow-y: scroll; scrollbar-width: 100px;}
}

@media screen and (max-width:568px) {
  #header .gnb>ul{gap: 60px; width: 100%;}
  #header .gnb>ul>li:nth-of-type(2) a{border-bottom: 3px solid #666666; font-size: 28px;}
  #header .gnb>ul>li>a{padding: 14px 0; font-size: 20px; color: #666666; font-weight: 400; transition: .2s; padding: 8px 0;}
}

@media screen and (max-width:415px) {
  body {width: 100%;}
  #header .gnb>ul{gap: 30px; width: 100%;}
  /* #contents-slide .inner ul .work { width: 340px !important;} */
  #header .gnb>ul>li:nth-of-type(2) a{border-bottom: 3px solid #666666; font-size: 24px;}
  #header .gnb>ul>li>a{padding: 14px 0; font-size: 16px; color: #666666; font-weight: 400; transition: .2s; padding: 6px 0;}
}

@media screen and (max-width:340px) {
  .inner:has(#header) {height: 60px;}
  #header .gnb>ul{gap: 20px; width: 100%; font-size: 10px;}
  #header .gnb>ul>li:nth-of-type(2) a{border-bottom: 3px solid #666666; font-size: 20px;}
  #header .gnb>ul>li>a{padding: 14px 0; font-size: 16px; color: #666666; font-weight: 400; transition: .2s; padding: 6px 0;}
  #contents-slide .inner ul .work { width: 260px !important;}
  #contents-slide .inner ul li { width: 260px !important;}
}


@media (hover:hover) and (pointer:fine) {
  a:hover {cursor: url('../../img/ui/cursor-hover.png') 22 22, auto;}
  .hover-mouse{ backdrop-filter: unset !important; width: 120px !important; height: 120px !important; border-radius: 120px !important;}
  #header .gnb>ul>li>a:hover{font-size: 28px;}
  #mouse {position: absolute; z-index: 9999; top: 0; left: 0; border: 3px solid #222; width: 70px; height: 70px; border-radius: 70px; backdrop-filter: blur(3px); transform: translate(-50%, -50%); box-shadow: 0 0 15px #000000; pointer-events: none; transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  }
  
}

@media (hover:hover) and (pointer:fine) and (min-width:1659px){
  #contents-slide .inner ul li:hover .description{ right: 0;}
  #contents-slide .inner ul li:hover{width: 500px;}
  #contents-slide .inner ul .work:hover{width: 500px; filter: grayscale(0);}
}