@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

/* reset */
*{margin: 0;padding: 0;}
ul, ol{list-style-type: none;}
a{text-decoration: none; color: inherit;}
img{display: block;}
body{font-family: 'Noto Sans KR', sans-serif;}

/* common */
body {cursor: url('../../img/ui/cursor-history.png') 6 6, auto; overflow-x: hidden; color: #666666; scroll-behavior: smooth; opacity: 0; animation: ani-loadPage 2s forwards; background-color: #000;}

@keyframes ani-loadPage {
  0%{opacity: 0;}
  100% {opacity: 100;}
}
:root{
  --bg-color:#000;
  --font-color:#fff;
}



.inner {width: 1660px; margin: 0 auto;}
/* body * {outline: 1px dotted red;} */
#wrap{background-color: var(--bg-color); color: var(--font-color);}


.text-section { display: flex; flex-direction: column; justify-content: center; box-sizing: border-box; padding-left: 8rem; height: 100vh; margin-top: 2000px; box-sizing: border-box;}






.inner:has(#header) {height: 80px; display: flex; justify-content: center; z-index: 30; position: fixed; left: 50%; transform: translateX(-50%);}
.inner:has(#header) .logo{ position: absolute; top: 50%; transform: translate(0,-50%); left: 0;}

.gnb a {display: block;}

#header{display: flex; justify-content: center; gap: 200px; align-items: center; }

#header .gnb{ display: flex; align-items: center;}
#header .gnb>ul{display: flex; justify-content: center; gap: 200px; overflow: hidden;}
#header .gnb>ul>li{display: flex; align-items: center; }
#header .gnb>ul>li:nth-of-type(3) a{border-bottom: 3px solid var(--font-color); font-size: 28px;}
#header .gnb>ul>li>a{padding: 10px 0; font-size: 20px; font-weight: 400; transition: .2s; }




#history-wrap {color: white;}

#history-wrap .title-section { display: flex; align-items: center; justify-content: center; height: 100vh;}
#history-wrap .title-section h3{font-size: 10rem;}

.cover-letter .inner{display: flex; max-width: 1660px !important;}
.cover-letter .inner .left{flex: 50%; height: calc(100vh - 80px); box-sizing: border-box;}
.cover-letter .inner .left .text-section{width: 100%; box-sizing: border-box; padding-top: 80px;}
.cover-letter .inner .left .text-section:nth-of-type(1){margin-top: 0;}
.cover-letter .inner .left .text-section img{width: 100%; height: 100%; object-fit: contain; display: block;}


.cover-letter .inner .right{flex: 50%;}
.cover-letter .inner .right>section{ box-sizing: border-box;}
.cover-letter .inner .right>section h4 { font-size: 1.6rem !important; }
.cover-letter .inner .right .text-section { display: flex; flex-direction: column; justify-content: center; box-sizing: border-box; padding-left: 8rem; height: 100vh; margin-top: 2000px; box-sizing: border-box;}


.text-section:first{margin-top: 500px;}
.text-section:last-child{margin-bottom: 500px;}

.text-wrap {margin-top: 2rem; font-size: 1rem; }
.text-wrap.blog {margin-top: 5rem;}
.text-wrap.blog a{color: orange;}

.gauge-wrap {display: flex; align-items: center; justify-content: space-between; width: 250px;}
.gauge-wrap .gauge {width: 0; height: 16px; background-image: linear-gradient(to bottom, aqua,royalblue); border-radius: 6px; margin-top: 2px;}
.gauge-wrap span{line-height: 16px;}

.gauge-wrap .gauge.ani{ animation: aniGauge 1.5s ease-out forwards;}
/* .gauge-wrap .gauge.ani-reverse{ animation: aniGauge 1s ease-out reverse;} */

/* 
  z-index
  top : 30
  top img : 30

  paper cover : 25
  form-wrap, form : 20

  bottom, bottom img : 15
*/
#email-section{height: 100vh; width: 100%; margin-top: 2000px; display: flex; align-items: center; justify-content: center; box-sizing: border-box; position: relative; }
#email-section .form-wrap{ position: absolute; box-sizing: border-box; top: -1px; width: 100%; padding-left: 300px; padding-right: 280px; height: 600px; overflow: hidden; left: 50%; transform: translateX(-50%); z-index: 20; }
/* animation: ani-paper 1s 3s linear forwards; */

#email-section .form-wrap form{width: 100%; height: 100%; position: relative; z-index: 20;}
#email-section .form-wrap form label{ position: absolute; padding-left: 3rem; top: 1rem; color: #333; font-size: 2rem; display: flex; align-items: baseline; box-sizing: border-box; width: 99%; font-family: 'Vujahday Script', cursive;}
#email-section .form-wrap form label input{margin-left: 1rem; font-size: 1.4rem; border: none; flex: 1; font-family: 'Noto Sans KR', sans-serif; outline: none;}
#email-section .form-wrap form label input:focus{outline: none;}
#email-section .form-wrap form textarea{width: 100%; height: 100%; font-size: 24px; line-height: 48px; padding: 3rem; box-sizing: border-box;  overflow-y: hidden; resize: none;pointer-events: none; padding-top: 6rem; font-family: 'Noto Sans KR', sans-serif;}
#email-section .form-wrap form textarea:focus{border: none; outline: none; }

#email-section .form-wrap form button{display: block; position: absolute; bottom: .3rem; color: #333; right: 2rem; font-family: 'Averia Serif Libre', serif; font-style: italic; font-size: 2.5rem; transition: 2s; opacity: 0; pointer-events: none; font-family: 'Vujahday Script', cursive; background-color: inherit; border: none;}
#email-section .form-wrap form button.active{ opacity: 1; pointer-events: all;}
.send__loading,
.send__success{ width: 120px; height: 120px; position: absolute; left: 48%; top: 50%; z-index: 40; transform: translate(-50%, -50%);  background-repeat: no-repeat; background-position: center; background-size: contain; display: none;}

.send__loading{ background-image: url(https://img.icons8.com/?size=96&id=4V3PMUWE1tYc&format=png); animation: ani-loading 3s infinite linear;}

.send__success{ background-image: url(https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png);}
#email-section .send__success{ left: 52%; top: 56%;}

@keyframes ani-loading {
  0%{transform: rotateZ(0deg);}
  100%{transform: rotateZ(360deg);}
}

@keyframes ani-paper {
  0%{top: -1px;}
  100%{top: -600px;}
}


.mailbox-wrap {display: flex; flex-direction: column;justify-content: center; align-items: center; width: 100%; height: 100%; box-sizing: border-box; z-index: 30;}
.mailbox-wrap img {width: 100%; height: 100%; object-fit: contain; z-index: 30; position: relative;}

.mailbox-top {height: 30%; width: 1280px; display: flex; align-items: end; box-sizing: border-box; padding: 100px; padding-bottom: 0; position: relative; z-index: 20;}
.mailbox-top .paper-cover{ position: absolute; bottom: 0; width: 100%; height: 600px; background-color: black; z-index: 25;}



.mailbox-bottom { height: 70%; width: 1280px; box-sizing: border-box;padding: 100px; padding-top: 0; position: relative; z-index: 15;}
.mailbox-bottom img{ z-index: 15;}

@keyframes aniGauge {
  0%{width: 0;}
  100%{width:  calc(var(--percent) * 1%);}
}

#mobile--email{height: 100vh; padding-top: 80px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; display: none;}
#mobile--email .form-wrap{ width: 80%; height: 70%;}
#mobile--email .form-wrap form{ display: flex; flex-direction: column; position: relative; height: 100%;}
#mobile--email .form-wrap form label{ z-index: 10; color: #000; margin-left: 2rem; margin-top: 1rem;}
#mobile--email .form-wrap form textarea{ height: 100%; position: absolute; width: 100%; z-index: 9; box-sizing: border-box; padding:2rem; padding-top: 50px; width: 100%; height: 100% !important; font-family: 'Noto Sans KR', sans-serif;}
#mobile--email .form-wrap form label input{margin-left: .4rem; border: none; flex: 1; font-family: 'Noto Sans KR', sans-serif; outline: none;}
#mobile--email .form-wrap form label input:focus{outline: none;}
#mobile--email .form-wrap form button{display: block; position: absolute; bottom: .3rem; color: #333; right: 2rem; font-family: 'Averia Serif Libre', serif; font-style: italic; font-size: 2.5rem; transition: 2s; font-family: 'Vujahday Script', cursive; background-color: inherit; border: none; z-index: 10; cursor: pointer;}
#mobile--email .form-wrap form button{ pointer-events: all;}

#mobile--email .send__success{ left: 53%; top: 50%; }
#mobile--email .send__loading{ left: 36%; top: 40%;}


@media screen and (max-width:1659px) {
  #wrap{height: unset !important; width: 100%; box-sizing: border-box;}
  .inner {width: 100%;}
  .inner:has(#header) .logo{display: none;}
  .inner:has(#header) {background-color: rgb(0, 0, 0); position: fixed; top: 0; left: 50%;}

  #header .gnb>ul{gap: 150px; width: 100%;}
  #history-wrap .title-section h3{font-size: 8rem;}
  /* .cover-letter .inner{display: flex; flex-direction: column;} */

  .text-section {padding: 2rem; box-sizing: border-box;}

  .cover-letter .inner .left{ height: calc(100vh - 80px); box-sizing: border-box !important;}
  .cover-letter .inner .left .text-section{width: 100%; padding-top: 80px;}

  .cover-letter .inner .right>section h4 { font-size: 1.4rem !important; }
  .cover-letter .inner .right>section p { font-size: 1.2rem; }
  .cover-letter .inner .right .text-section { display: flex; flex-direction: column; justify-content: center; box-sizing: border-box; padding-left: 2rem;}
}

@media screen and (max-width:1280px) {
  .mailbox-top {width: 100%; padding: 20px; padding-bottom: 0; }
  .mailbox-bottom { width: 100%; padding: 20px; padding-top: 0;}

  #email-section .form-wrap{ position: absolute; box-sizing: border-box; top: -1px; width: 80%; padding-left: 107px; padding-right: 100px; }
  #email-section .form-wrap form label{ font-size: 1.4rem; padding-left: 2rem;}
  #email-section .form-wrap form label input{font-size: 1.2rem; width: 100%;}
  #email-section .form-wrap form textarea{width: 100%; height: 100%; font-size: 1rem; line-height: 2rem; padding: 2rem;  padding-top: 3rem; }
}
@media screen and (max-width:897px) {
  #email-section .form-wrap{ position: absolute; box-sizing: border-box; top: -1px; width: 86%; padding-left: 107px; padding-right: 100px; }
}
@media screen and (max-width:693px) {
  #email-section .form-wrap{ position: absolute; box-sizing: border-box; top: -1px; width: 90%; padding-left: 107px; padding-right: 100px; }
}

@media screen and (max-width:615px) {
  .cover-letter .inner{flex-direction: column;}
  .cover-letter .inner .right .text-section { margin-top: 0px;}
  .cover-letter .inner .left .text-section:nth-of-type(2){display: none;}
  .gauge-wrap .gauge {width:  calc(var(--percent) * 1%);}

  #history-wrap .title-section h3{font-size: 4rem;}

  .gauge-wrap {width: 100%; padding-right: 4rem; box-sizing: border-box;}


  .text-section:first{margin-top: 0px;}
  #email-section{display: none;}
  #mobile--email{display: flex;}
  #history-wrap .right section:last-of-type{margin-bottom: 0;}
}



@media screen and (max-width:568px) {
  #header .gnb>ul{gap: 60px; width: 100%;}
  #header .gnb>ul>li>a{padding: 14px 0; font-size: 20px; color: #ffffff; font-weight: 400; transition: .2s; padding: 8px 0;}
}

@media screen and (max-width:415px) {
  body {width: 100%;}
  #header .gnb>ul{gap: 30px; width: 100%;}
  /* #contents-slide .inner ul .work { width: 340px !important;} */
  #header .gnb>ul>li>a{padding: 14px 0; font-size: 16px; color: #ffffff; font-weight: 400; transition: .2s; padding: 6px 0;}
}

@media screen and (max-width:340px) {
  .inner:has(#header) {height: 60px;}
  #header .gnb>ul{gap: 20px; width: 100%; font-size: 10px;}
  #header .gnb>ul>li>a{padding: 14px 0; font-size: 16px; color: #ffffff; font-weight: 400; transition: .2s; padding: 6px 0;}
}


@media (hover:hover) and (pointer:fine) {
  a:hover {cursor: url('../../img/ui/cursor-hover.png') 22 22, auto;}
  .hover-mouse{ backdrop-filter: invert(100) !important; width: 120px !important; height: 120px !important; border-radius: 120px !important;}
  #header .gnb>ul>li>a:hover{font-size: 28px;}
  #mouse {position: absolute; z-index: 9999; top: 0; left: 0; border: 3px solid #fff; width: 70px; height: 70px; border-radius: 70px; transform: translate(-50%, -50%); box-shadow: 0 0 15px #000000; pointer-events: none; transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  }
}
